@model List<MvcTemplate.Models.ProfesorViewModel>

@{
    ViewData["Title"] = "Profesores";
}

<h2>Lista de Profesores</h2>

<p>
    <a class="btn btn-primary" asp-action="Crear">Agregar nuevo profesor</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profesor in Model)
        {
            <tr>
                <td>@profesor.NombreCompleto</td>
                <td>@profesor.Email</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Editar" asp-route-id="@profesor.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-action="Eliminar" asp-route-id="@profesor.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
